# Windows virtualenv folders
Lib/
Scripts/
Include/
tcl/

# Linux virtualenv folders
bin/
lib/
include/
local/

mingus_examples/
**.pyc
pip-selfcheck.json
make.bat

**.ly
junk.py

# Should I keep the output away from the repo?
**.pdf
**.ps
